# Auto detect text files and perform LF normalization
* text=auto
gen_attempt_2.zip filter=lfs diff=lfs merge=lfs -text
generated_data/gen_attempt_2.zip filter=lfs diff=lfs merge=lfs -text
generated_data/gen_attempt_3.zip filter=lfs diff=lfs merge=lfs -text
generated_data/gen_attempt_4.zip filter=lfs diff=lfs merge=lfs -text
generated_data/gen_attempt_5.zip filter=lfs diff=lfs merge=lfs -text
